@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-label {
    margin-bottom: 10px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-control {
    padding: 8px 15px;
    width: 300px;
    border-radius: 5px;
  }
}

.btn {
  @apply border-2 border-pink-100 py-3 px-8 rounded-full hover:bg-pink-50 hover:text-pink-600 transition ease-in;
}

.def-gradient{
  @apply bg-gradient-to-b from-red-500 to-pink-500;
}
